.login{
    background-image: linear-gradient(to left bottom, #0d5185, #0057a8, #2658c8, #5e53e1, #9642f2);
    background-size: cover;
    height:657px;
}
.login form{
    background-color: aliceblue;
    padding: 30px;
    border-radius: 10px;
}